body{
	padding-top:50px;
}

hr.featurette-divider{
	margin-top:80px;
	margin-bottom:80px;
}

.featurette-heading{
	font-size:50px;
	margin-top:10%;
	font-weight: normal;
}

p.lead{
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}

footer{
	padding:40px 0;
}