{
  "parser": "babel-eslint",
  "extends": "eslint-config-deloitte-react",
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "linebreak-style": 0
  }
}
